.service-box {
  border-radius: 4px;
  border: solid 1px #f1efef;
  background-color: #ffffff;
  padding: 47px;
  text-align: center;
  margin-top: 40px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.service-box .title-text {
  color: black;
}

.service-box .subtitle-text {
  color: rgba(0, 74, 173, 255);
}

.service-box img {
  margin-bottom: 37px;
}

.service-box .service-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;
}

.service-box .service-list li {
  padding: 8px;
}

.service-box.selected {
  box-shadow: 0 9px 15px 0 rgba(7, 42, 68, 0.09);
}

.service-box:hover {
  background: rgb(71, 105, 184);
}

.service-box:hover .title-text {
  color: #ffffff;
}

.service-box:hover .subtitle-text {
  color: #ffffff;
}

.service-box:hover .service-list li {
  color: #ffffff;
}

.service-box:hover .btn {
  color: #ffffff;
}

.know-more-btn {
  background-color: red;
}
